# sudo nano /etc/systemd/system/nest-hub.service
#
# sudo cp /home/tangerine/tangerine-hub/infrastructure/nest-hub.service /etc/systemd/system
# sudo rm -rf /etc/systemd/system/nest-hub.service
#
# sudo systemctl enable nest-hub
# sudo systemctl daemon-reload
# sudo systemctl start nest-hub
# sudo systemctl stop nest-hub
# sudo systemctl restart nest-hub
# sudo systemctl disable nest-hub
# sudo systemctl status nest-hub
#
# sudo NODE_ENV='production' node server.js
#
# sudo journalctl -u nest-hub -f

# https://hub.local/konfovent/set?mode=home

[Unit]
Description=TangerineNest hub
After=network.target

[Service]
Environment=NODE_ENV=production
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/tangerine/tangerine-hub
ExecStart=/usr/local/bin/node server.js
Restart=always

#User=root
#Group=group

[Install]
WantedBy=multi-user.target

# Setting up APP as a deamon https://stackoverflow.com/questions/4903570/how-does-one-start-a-node-js-server-as-a-daemon-process

